@-ms-viewport{
  width: device-width;
}

@media screen and (min-width: 768px){

	h1 {
		width: 50%;
		margin-top: 100px;
		margin-left: 40%;
		height: 200px;
		font-size: 500%;
		text-align: right;
		color: white;
	}

	#intro{
		height: 10em;
		position: relative;
		text-align: center;
	}

	#intro p{
		font-size: 1.5em;
		margin: 0;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%)
	}

	#form {
		display: flex;
		justify-content: space-around;
		text-align: center;
		/*padding: 10px 0;*/
		margin-bottom: 20px;
	}

	button{
		margin-top: 20px;
		width: 150px;
	}	

	#container-1 {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
	}

}

@media screen and (max-width: 767px) {
	
	h1, #content {
		overflow-x:hidden;	
	}

	h1 {
		width: 80%;
		margin: 30px auto;
		height: 150px;
		font-size: 200%;
		text-align: right;
		color: white;
	}

	#intro{
		height: 10em;
		position: relative;
		text-align: center;
	}

	#intro p {
		font-size: 105%;
		margin: 0;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%)
	}

	button{
		margin-right: 500px;
		width: 70%;
	}

	.card {
		margin: 15px;
	}

}

html, body {
	margin: 0 auto;
	height: 100%;
	width: 100%
	font-size: 18px;
	overflow-x:hidden;
}

body {
	background-image: url("images/annie-spratt-752789-unsplash.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: absolute;
	top: 0;
	left: 0;
	background-size: 100%;
}

#content {
	background-color: white;
	margin-top: 25%;
	padding-bottom: 18px;
	position: relative;

}

#form-background{
	background-color: #e1e4e8;
}

#message{
	text-align: center;
}

.hidden{
	display: none;
}

.card {
	text-align: center;
}

.card-body, h5{
	width: 100%;
}

#footer {
	background-color: #e1e4e8;
}