@-ms-viewport {
	width: device-width;
}

@media screen and (min-width: 980px) {

	h1 {
		width: 50%;
		margin-top: 100px;
		margin-left: 40%;
		font-size: 500%;
		text-align: right;
	}

	#intro p {
		font-size: 1.5em;
	}

	#content {
		margin-top: 15%;
	}

/*	#form {
		display: flex;
		justify-content: space-around;
		text-align: center;
	}*/

/*	button {
		margin-top: 20px;
		width: 150px;
	}*/	

}

@media screen and (max-width: 979px) {
	
	h1, #content {
		overflow-x:hidden;	
	}

	h1 {
	 	background-color: rgba(0, 0, 0, 0.2);
		width: 60%;
		margin-top: 55px;
		margin-left: 30%;
		font-size: 350%;
		text-align: right;
	}

	#content {
		margin-top: 10%;
	}

	#intro p {
		font-size: 1.3em;
	}

/*	button {
		margin-right: 500px;
		width: 50%;
	}*/

}

@media screen and (max-width: 600px) {
	
	h1, #content {
		overflow-x:hidden;	
	}

	h1 {
		width: 80%;
		margin: 35px auto;
		font-size: 200%;
		text-align: right;
	}

	#content {
		margin-top: 10%;
	}

	#intro p {
		font-size: 1.1em;
	}

/*	button {
		margin-right: 500px;
		width: 70%;
	}*/

}

html, body {
	margin: 0 auto;
	height: 100%;
	width: 100%
	font-size: 18px;
}

h1 {
	background-color: rgba(0, 0, 0, 0.2);	
 	color: white;
 	padding: 0px;
	overflow-y:hidden;
 }
	
body {
	background-image: url("images/annie-spratt-752789-unsplash.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: absolute;
	top: 0;
	left: 0;
	background-size: 100%;
}

#content {
	background-color: white;
	padding-bottom: 18px;
	position: relative;

}

#intro {
	height: 10em;
	position: relative;
	text-align: center;
}

#intro p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

#form-background {
	background-color: #e1e4e8;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

/*#form {
	margin-bottom: 20px;
}*/

#calculate {
	height: 50%;
}

#message {
	text-align: center;
	margin-top: 10px;
}

.hidden {
	display: none;
}

.card {
	margin-bottom: 15px;
	padding: 0;
	text-align: center; 
	text-decoration: none !important;
}

.best-rate {
	color: #013220;
	background-color: #f5ffea;
}

#footer {
	background-color: #e1e4e8;
}